div#ez-toc-container p.ez-toc-title {
    color: #303030 !important;
    font-size: 28px;
    @include respond-to-max($small) {
        font-size: 20px;
    }
}
div#ez-toc-container ul.ez-toc-list a {
    color: #235863 !important;
    font-weight: 500;
    &:hover {
        color: #00605a !important;
    }
}
#ez-toc-container.counter-decimal ul.ez-toc-list li a::before,
.ez-toc-widget-container.counter-decimal ul.ez-toc-list li a::before {
    color: #303030 !important;
    margin-right: 15px;
}
#ez-toc-container {
    border-radius: 10px !important;
    background: #f7f7f7 !important;
    padding: 15px;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    @include respond-to-max($small) {
        width: 94% !important;
    }
}
div#ez-toc-container ul li {
    padding: 8px 0;
}
ul.ez-toc-list {
    display: none;
    padding-top: 15px !important;
    a {
        @include respond-to-max($small) {
            font-size: 16px !important;
        }
    }
}
.ez-toc-btn-default {
    border: none;
    background: transparent;
    outline: none;
    box-shadow: none;
}
.ez-toc-icon-toggle {
    width: 20px !important;
    height: 12px;
    margin-left: 0px !important;
}
.ez-toc-icon-toggle:before {
    content: '' !important;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='12' viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2 2.15851L10.156 9.84149L18.3119 2.15851' stroke='%23303030' stroke-width='3' stroke-linecap='round'/%3e%3c/svg%3e ");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#ez-toc-container a:hover {
    text-decoration: none !important;
    opacity: 0.8;
}