<div
  class="almo-popup almo-popup--no-overlay almo-country-loc-popup"
  id="country-loc-popup"
  data-with-scroll="true"
>
  <div class="almo-box almo-popup__cont almo-country-loc-popup__cont">
    <button
      type="button"
      class="almo-close-btn almo-popup__cont__close-btn  js-close-popup-btn js-loc-popup-close"
    ></button>
    <form class="almo-country-loc-popup__cont">
      <p class="almo-text-reg">
        Are you in USA now? If you want to see relevant products and shops, switch to our website for USA.
      </p>
      <div class="almo-country-loc-popup__cont__btns">
        <button
          type="button"
          class="almo-btn almo-btn--small"
        >
          <span>Stay in Germany</span>
        </button>
        <button
          type="button"
          class="almo-btn almo-btn--small almo-btn--cut"
        >
          <span>Get me to USA</span>
        </button>
      </div>
    </form>
  </div>
</div>
