<ul class="almo-text-small">
  <li>
    <a class="almo-disable" href="#">English</a>
  </li>
  <li>
    <a href="#">Español</a>
  </li>
  <li>
    <a href="#">Português</a>
  </li>
  <li>
    <a href="#">Deutsch</a>
  </li>
  <li>
    <a href="#">Français</a>
  </li>
  <li>
    <a href="#">Italiano</a>
  </li>
  <li>
    <a href="#">Hindī</a>
  </li>
  <li>
    <a href="#">Polski</a>
  </li>
  <li>
    <a href="#">English</a>
  </li>
  <li>
    <a href="#">English</a>
  </li>
  <li>
    <a href="#">English</a>
  </li>
</ul>