<div class="almo-popup almo-reset-pass-popup" id="pass-reseted-popup">
  <div class="almo-box almo-popup__cont">
    <button class="almo-close-btn almo-popup__cont__close-btn  js-close-popup-btn"></button>

    <div class="almo-pass-reseted">
      <i class="almo-icon bg-dog-with-green-house"></i>
      <p class="almo-head-h3">
        Reset password
      </p>
      <p class="almo-text-reg">
        We’ve sent the reset link to your email. Please check your inbox.
      </p>
    </div>
  </div>
</div>