<div class="almo-popup almo-reset-pass-popup" id="reset-pass-popup">
  <div class="almo-box almo-popup__cont">
    <button class="almo-close-btn almo-popup__cont__close-btn js-close-popup-btn"></button>

    <div class="almo-reset-pass">
      <form>
        <h4 class="almo-head-h4 almo-reset-pass__title">
          Reset password
        </h4>

        <p class="almo-text-reg">
          Enter the email address associated with your account, and we’ll email you a link to reset your password.
        </p>

        <label class="almo-input-block">
          <p class="almo-text-reg">Your email address</p>
          <input type="text" name="email" class="almo-input-text" placeholder=" ">
          <p class="almo-text-small almo-input-block__mes">
            Something is wrong with the email. Please, correct.
          </p>
        </label>

        <button type="submit" class="almo-btn" data-popup="pass-reseted-popup">
          <span>Send</span>
        </button>
      </form>

      <div class="almo-reset-pass__bot">
        <button class="almo-head-h5 js-close-popup-btn js-togglePopup" data-popup="sign-in-pupop">
          <span class="almo-link almo-link--in-text almo-link--arrow-r"><i></i>Back to Sign In</span>
        </button>
      </div>
    </div>

  </div>
</div>