<div class="almo-header__country">
  <!-- <form action="/test/country.json" method="get" class="almo-header__country-search">
    <input class="almo-input-search js-country-search" type="text" placeholder="Search the country">
  </form> -->
  <div data-state="found" class="almo-text-small">
    <p class="almo-header__country-empty">Start typing the first letters of your country's name and we'll be right there
      to finish the job.</p>
    <p class="almo-header__country-not-found">
      Not found
    </p>
    <ul class="almo-header__country-list js-country-list">
      <li>
        <a href="#">
          <i class="almo-icon bg-fr"></i>
          France
        </a>
      </li>
      <li>
        <a href="#">
          <i class="almo-icon bg-de"></i>
          Germany
        </a>
      </li>
      <li>
        <a href="#">
          <i class="almo-icon bg-fi"></i>
          Finland
        </a>
      </li>
      <li>
        <a href="#">
          <i class="almo-icon bg-es"></i>
          Spain
        </a>
      </li>
      <li>
        <a href="#">
          <i class="almo-icon bg-sv"></i>
          Sweden
        </a>
      </li>
    </ul>
  </div>
</div>