<div class="almo-sign-mob almo-sign-mob__up">
  <div class="almo-sign-mob__up__main">
    <h4 class="almo-head-h4 almo-sign-mob__up__title">Choose your sign up</h4>
    <p class="almo-text-reg almo-sign-mob__up__subtitle">
      Please, tell us about you, so we could show you the way.
    </p>

    <div class="almo-sign-mob__up__block">
      <a href="#" class="almo-btn almo-btn--small">
        <span>I am a cat / dog companion</span>
      </a>
      <p class="almo-text-small">
        If you buy Almo Nature products and/or support Capellino Foundation projects, this is your personal door.
      </p>
    </div>

    <div class="almo-sign-mob__up__block">
      <a href="#" class="almo-btn almo-btn--small">
        <span>I am a business partner</span>
      </a>
      <p class="almo-text-small">
        If you work for a shop, a vet clinic or represent other Almo Nature’s business partner, this is where we
        welcome you. </p>
    </div>

    <div class="almo-sign-mob__up__block">
      <a href="#" class="almo-btn almo-btn--small">
        <span>I want to join the project as an organisation</span>
      </a>
      <p class="almo-text-small">
        If you are from ONLUS, NON-ONLUS or local administration that wants to join the project  “A Companion
        Animal
        Is For Life”, go here.
      </p>
    </div>
  </div>

  <div class="almo-sign-mob__bot">
    <p class="almo-text-reg">Don’t have an account yet?
      <button type="button"
              class="almo-link almo-link--in-text js-open-subpopup"
              data-submenu="submenu-sign-in"
      >
        Sign in
      </button>
    </p>
  </div>
</div>