<div class="almo-sign-mob">
  <div class="almo-sign-mob__inner">
    <div class="almo-sign-mob__in js-active" id="almo-sign-mob__in">
      <h4 class="almo-head-h4 almo-sign-mob__in__title">Sign in with social profile</h4>
      <div class="almo-sign-mob__in__soc">
        <button type="button" class="almo-btn almo-btn--small almo-btn--soc almo-btn--soc--facebook">
          <i class="almo-icon bg-facebook-2"></i>
          <span>Sign in with Facebook</span>
        </button>

        <button type="button" class="almo-btn almo-btn--small almo-btn--soc almo-btn--soc--instag">
          <i class="almo-icon bg-instagram-2"></i>
          <span>Connect youstagram</span>
        </button>

        </button><button type="button" class="almo-btn almo-btn--small almo-btn--soc almo-btn--soc--google">
          <i class="almo-icon bg-google-2"></i>
          <span>Sign in with Google</span>
        </button>
      </div>

      <form class="almo-sign-mob__in__email">
        <div class="almo-sign-popup__error">
          <div class="almo-sign-popup__error__icon">
            <i class="almo-icon bg-warning"></i>
          </div>

          <div class="almo-sign-popup__error__text">
            <p class="almo-text-small">
              Looks like either the email address or the password are incorrect.
            </p>
          </div>
        </div>
        <label class="almo-input-block">
          <p class="almo-text-reg">Email</p>
          <input type="email" name="email" class="almo-input-text" placeholder=" " required="">
          <p class="almo-text-small almo-input-block__mes">Fill this field</p>
        </label>

        <label class="almo-input-block">
          <p class="almo-text-reg">Password</p>
          <p class="almo-input-container">
            <input type="password" name="password" class="almo-input-text" placeholder=" " required="">
            <button type="button" class="almo-input-switch-pass js-switch-visible-password"
              onclick="inputUtils.togglePassVisible(event)">
              <i>
                @@include("../../svg/eyes.html")
              </i>
            </button>
          </p>
          <p class="almo-text-small almo-input-block__mes">Fill this field</p>
        </label>

        <button class="almo-btn almo-btn--small">
          <span>Sign in</span>
        </button>

        <div class="almo-sign-mob__in__email__link">
          <button type="button" class="almo-text-reg js-open-subpopup" data-submenu="submenu-reset-pass" data-no-tran="true">
            <span class="almo-link almo-link--in-text">Forgot password?</span>
          </button>
        </div>
      </form>
    </div>

    <div class="almo-sign-mob__up" id="almo-sign-mob__up">
      <h4 class="almo-head-h4 almo-sign-mob__up__title">Choose your sign up</h4>
      <p class="almo-text-reg almo-sign-mob__up__subtitle">
        Please, tell us about you, so we could show you the way.
      </p>

      <div class="almo-sign-mob__up__block">
        <a href="#" class="almo-btn almo-btn--small">
          <span>I am a cat / dog companion</span>
        </a>
        <p class="almo-text-small">
          If you buy Almo Nature products and/or support Capellino Foundation projects, this is your personal door.
        </p>
      </div>

      <div class="almo-sign-mob__up__block">
        <a href="#" class="almo-btn almo-btn--small">
          <span>I am a business partner</span>
        </a>
        <p class="almo-text-small">
          If you work for a shop, a vet clinic or represent other Almo Nature’s business partner, this is where we
          welcome you. </p>
      </div>

      <div class="almo-sign-mob__up__block">
        <a href="#" class="almo-btn almo-btn--small">
          <span>I want to join the project as an organisation</span>
        </a>
        <p class="almo-text-small">
          If you are from ONLUS, NON-ONLUS or local administration that wants to join the project “A Companion
          Animal
          Is For Life”, go here.
        </p>
      </div>
    </div>
  </div>

  <div class="almo-sign-mob__bot">
    <p class="almo-text-reg">Don’t have an account yet?
      <button type="button" class="almo-link almo-link--in-text" id="almo-sign-mob__btn">
        <span class="almo-sign-mob-up">Sign up</span>
        <span class="almo-sign-mob-in">Sign in</span>
      </button>
    </p>
  </div>
</div>