.bg-hfc {
  width: 4.4em !important;
  height: 4.4em !important;
  background-image: url('#{$path_to_img}icon/HFC.png');
}

.bg-profit-red {
  width: 4.4em !important;
  height: 4.4em !important;
  background-image: url('#{$path_to_img}icon/profit.png');
}