:root {
  --white:    #ffffff;
  --red:      #EC422B;
  --orange:   #FBAC37;
  --green:    #6DAD45;
  --black:    #303030;
  --blue:     #235863;
  --dark-blue:#465573;
  --gray-bg:  #F7F7F7;
  --gray-line:#E4E4E4;
  --gray-additional:#AAAAAA;
  --gray-popup:rgba(238, 238, 238, 0.7);
  --baseColor: var(--red);
}