<div class="almo-header-banner-sec js-header-banner">
    
    <div class="almo-wrap">
        <div class="almo-header-banner">
            <div class="img-block">
                <img src="/images/banners/logo-almo.svg" alt="banner image">
            </div>
            <h3 class="title-mob">Almo Nature becomes the property of the animals</h3>
            <div class="almo-header-banner__mob">
                <div class="title-block">
                    <h3>Almo Nature becomes the property of the animals</h3>
                    <p>This is a banner for important announcements — something like the changing of the company property, for example. It explains in short the event and underlines the importance of the change.</p>
                </div>
                <div class="button-block">
                    <a href="#" class="gray-btn">Find out more</a>
                    <button class="almo-close-btn js-banner-close"></button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="js-banner-drop drop-btn">
        <i>@@include("../../svg/_moore-btn.html")</i>
    </button>
</div>