<div class="almo-promo-banner-spot js-spot-banner js-hide">
    <button class="almo-close-btn js-spot-close"></button>
    <div class="img-block">
        <img src="/images/banners/discount.svg" alt="banner image">
    </div>
    <div class="text-block">
        <h3>The title of the promo banner</h3>
        <p>Promoting something in the context of this page. It appears when you stop scrolling on the specific screen, it’s moving + it doesn’t follow you while scrolling.</p>
    </div>
    <a href="#" class="almo-btn almo-btn--small call-to-action">
        <span>Call to action</span>
    </a>
</div>