<div class="almo-top-banner js-top-banner js-hide">
    <a href="#" class="almo-top-banner-link">
        <div class="text-block">
            <h3>The title of the news article — from 3 to 10 words 
                <i>@@include("../../svg/_arrow-right-banner.html")</i>
            </h3>
            <p>Two lines of intro information. Important — this banner appears from  the right only 3 seconds after loading the page.</p>
        </div>
        <button class="almo-close-btn js-banner-top-close"></button>

        <div class="image-block">
            <img src="/images/banners/discount.svg" alt="banner image">
        </div>
    </a>
</div>