<div class="almo-cookies-banner" id="almo-cookies-banner">
  <div class="almo-cookies-banner__inner">
    <div class="almo-cookies-banner__l">
      <p class="almo-text-small">This website uses technical cookies to make browsing easier, analytics cookies to
        collect aggregate data, cookies aimed at guaranteeing the functionality of social media, and third-party
        cookies to offer additional services and features to users. If you want to know more or withdraw your consent
        to all or some of the cookies, please see the <a href="#">Cookie policy</a>.</p>
      <p class="almo-text-small">By clicking on the specific button, closing this banner, scrolling this webpage or
        continuing to browse in any other way, you agree to the use of cookies.</p>
    </div>
    <div class="almo-cookies-banner__r">
      <button type="button" class="almo-btn almo-btn--small"
        onclick="document.getElementById('almo-cookies-banner').classList.add('almo-cookie-banner--hide');">
        <span>Got it</span>
      </button>
    </div>
  </div>
</div>