<footer class="almo-footer">
  <ul class="almo-wrap">
    <div class="almo-footer__logos">
      <i class="almo-icon bg-almo"></i>
      <i class="almo-icon bg-fondazione"></i>
    </div>

    <ul class="almo-footer__links">
      <ul class="almo-footer__links__list">
        <li class="almo-footer__links__list__item js-accor-item">
          <div class="js-accor-btn">
            <p class="almo-head-h5 almo-text-blue">Products</p>
          </div>
          <ul class="almo-text-small js-accor-target">
            <li>
              <a href="#">Cat products</a>
            </li>
            <li>
              <a href="#">Dog products</a>
            </li>
            <li>
              <a href="#">Find a store</a>
            </li>
            <li>
              <a href="#">Quality</a>
            </li>
          </ul>
        </li>

        <li class="almo-footer__links__list__item js-accor-item">
          <div class="js-accor-btn">
            <p class="almo-head-h5 almo-text-blue">Movement</p>
          </div>
          <ul class="almo-text-small js-accor-target">
            <li>
              <a href="#">A new pact with animals</a>
            </li>
            <li>
              <a href="#">Ecosystem as a goal</a>
            </li>
            <li>
              <a href="#">Pet food as a fuel</a>
            </li>
            <li>
              <a href="#">How you can help</a>
            </li>
          </ul>
        </li>

        <li class="almo-footer__links__list__item js-accor-item">
          <div class="js-accor-btn">
            <p class="almo-head-h5 almo-text-blue">Projects</p>
          </div>
          <ul class="almo-text-small js-accor-target">
            <li>
              <a href="#">A Companion Animal Is For Life</a>
            </li>
            <li>
              <a href="#">Farmers & Predators</a>
            </li>
            <li>
              <a href="#">Dog Blood Bank</a>
            </li>
            <li>
              <a href="#">Regenerating Villa Fortuna</a>
            </li>
          </ul>
        </li>

        <li class="almo-footer__links__list__item js-accor-item">
          <div class="js-accor-btn">
            <p class="almo-head-h5 almo-text-blue">About us</p>
          </div>
          <ul class="almo-text-small js-accor-target">
            <li>
              <a href="#">Almo Nature</a>
            </li>
            <li>
              <a href="#">Capellino Fundation</a>
            </li>
            <li>
              <a href="#">They write about us</a>
            </li>
            <li>
              <a href="#">Wall of supporters</a>
            </li>
            <li>
              <a href="#">Friends and partners</a>
            </li>
          </ul>
        </li>

        <li class="almo-footer__links__list__item js-accor-item">
          <div class="js-accor-btn">
            <p class="almo-head-h5 almo-text-blue">Get in touch</p>
          </div>
          <ul class="almo-text-small js-accor-target">
            <li>
              <a href="#">Contact us</a>
            </li>
          </ul>
          @@include("../components/soc-block.html", {"gray": false})
        </li>
      </ul>
    </ul>
  </ul>
</footer>