<section class="almo-sec almo-help-sec">
  <div class="almo-wrap almo-help">
      <h2 class="almo-head-h2">What you can do to help</h2>
      <p class="almo-text-lead">Some people think they can't do anything significant to help nature and save the wildlife on this planet. Seems like you can. Every bit of an effort counts. Here are the key things you can do.</p>

    <ul class="almo-help__list">
      <li class="almo-help__list__item js-hidden">
        <div class="almo-help__block">
          <div class="almo-help__block__l">
            <h3 class="almo-head-h3">Feed your companion animal</h3>
            <p class="almo-text-lead">
              Your companion animal will enjoy a completely natural, high quality meal. And
              100& profit of your
              purchase will go to our projects to protect cats, dogs and biodiversity
            </p>
            <ul class="almo-list-3 almo-help__block__list">
              <li class="almo-help__block__list__item">
                <i class="almo-icon bg-food"></i>
                <p class="almo-text-reg">
                  When you buy food for your companion animal, the profit goes to nature
                </p>
              </li>
              <li class="almo-help__block__list__item">
                <i class="almo-icon bg-helps"></i>
                <p class="almo-text-reg">
                  It helps homeless cats, dogs, wild animals and the efforts of restoring the
                  land
                </p>
              </li>
              <li class="almo-help__block__list__item">
                <i class="almo-icon bg-protect"></i>
                <p class="almo-text-reg">
                  Through projects we find new natural ways to protect animals and biodiversity
                </p>
              </li>
            </ul>
          </div>
          <div class="almo-help__block__r">
            <ul class="almo-help__btns-list">
              <li class="almo-help__btns-list__item">
                <a href="#" class="almo-help__btn almo-help__btn--for-pet">
                  <i class="almo-icon bg-for-cat"></i>
                  <span class="almo-text-reg">Choose the products for your cat</span>
                </a>
              </li>
              <li class="almo-help__btns-list__item">
                <a href="#" class="almo-help__btn almo-help__btn--for-pet">
                  <i class="almo-icon bg-for-dog"></i>
                  <span class="almo-text-reg">Choose the products for your dog</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        @@include("./separ.html")
      </li>

      <li class="almo-help__list__item js-hidden">
        <div class="almo-help__block">
          <div class="almo-help__block__l">
            <h3 class="almo-head-h3">Share the idea with other people</h3>
            <p class="almo-text-lead">
              Follow us on social networks and share project news and stories with your friends and followers. Every
              share is important. Every purchase gives a chance to another animal
            </p>
            <ul class="almo-list-3 almo-help__block__list">
              <li class="almo-help__block__list__item">
                <i class="almo-icon bg-anim"></i>
                <p class="almo-text-reg">
                  Wild animals get a real chance at living peacefully alongside people
                </p>
              </li>
              <li class="almo-help__block__list__item">
                <i class="almo-icon bg-home"></i>
                <p class="almo-text-reg">
                  More homeless animals find their family and home
                </p>
              </li>
              <li class="almo-help__block__list__item">
                <i class="almo-icon bg-bone"></i>
                <p class="almo-text-reg">
                  More people know that they can help animals
                </p>
              </li>
            </ul>
          </div>
          <div class="almo-help__block__r">
            <ul class="almo-help__btns-list">
              <li class="almo-help__btns-list__item">
                <a href="#" class="almo-help__btn almo-help__btn--soc almo-help__btn--soc--fb">
                  @@include("../svg/facebook.html")
                  <span class="almo-text-reg">Follow our Facebook activity</span>
                </a>
              </li>
              <li class="almo-help__btns-list__item">
                <a href="#" class="almo-help__btn almo-help__btn--soc almo-help__btn--soc--tw">
                  @@include("../svg/twitter.html")
                  <span class="almo-text-reg">Get updates in our Twitter</span>
                </a>
              </li>
              <li class="almo-help__btns-list__item">
                <a href="#" class="almo-help__btn almo-help__btn--soc almo-help__btn--soc--inst">
                  @@include("../svg/instagram.html")
                  <span class="almo-text-reg">Follow our Instagram feed</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        @@include("./separ.html")
      </li>

      <li class="almo-help__list__item js-hidden">
        <div class="almo-help__block">
          <div class="almo-help__block__l">
            <h3 class="almo-head-h3">Give your voice to nature</h3>
            <p class="almo-text-lead">
              Join us and we'll tell you when your voice is needed for causes like changing legislation for protecting
              animals: through voting on petitions and surveys
            </p>
            <ul class="almo-list-3 almo-help__block__list">
              <li class="almo-help__block__list__item">
                <i class="almo-icon bg-human"></i>
                <p class="almo-text-reg">
                  Human attitude to animals changes to more <span class="almo-text-undline">humane</span>
                </p>
              </li>
              <li class="almo-help__block__list__item">
                <i class="almo-icon bg-love"></i>
                <p class="almo-text-reg">
                  Less cruelty, more life and love in the world
                </p>
              </li>
            </ul>
          </div>
          <div class="almo-help__block__r">
            <ul class="almo-help__btns-list">
              <li class="almo-help__btns-list__item">
                <button type="button" class="almo-help__btn almo-help__btn--soc almo-help__btn--soc--media js-togglePopup"
                  data-subscribe="soc" data-popup="subscr-pupop">
                  @@include("../svg/social.html")
                  <span class="almo-text-reg">Sign up with social profile</span>
                </button>
              </li>
              <li class="almo-help__btns-list__item">
                <button type="button" class="almo-help__btn almo-help__btn--soc almo-help__btn--soc--subscr js-togglePopup"
                  data-subscribe="email" data-popup="subscr-pupop">
                  @@include("../svg/subscribe.html")
                  <span class="almo-text-reg">Subscribe to our digest</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    @@if(showLastSepar === true) {
      @@include("./separ.html")
    }
  </div>
</section>