@@if(gray === true) {
  <ul class="almo-soc almo-soc--gray">
}
@@if(gray === false) {
  <ul class="almo-soc">
}
  <li class="almo-soc__item">
    <a class="almo-soc__item__link" href="#">
      <i class="almo-icon bg-facebook"></i>
    </a>
  </li>
  <li class="almo-soc__item">
    <a class="almo-soc__item__link" href="#">
      <i class="almo-icon bg-twitter"></i>
    </a>
  </li>
  <li class="almo-soc__item">
    <a class="almo-soc__item__link" href="#">
      <i class="almo-icon bg-instagram"></i>
    </a>
  </li>
</ul>