<div class=almo-tabs id="tabs">
  <div class="almo-wrap">
    <ul class="almo-tabs__list">
      <li class="almo-tabs__list__item">
        <a class="almo-tab js-active" href="#qual-food">Quality pet food</a>
      </li>
      <li class="almo-tabs__list__item">
        <a class="almo-tab" href="#purp-foc">Purpose focus</a>
      </li>
      <li class="almo-tabs__list__item">
        <a class="almo-tab" href="#giveback">Our giveback</a>
      </li>
      <hr class="almo-tabs__undline">
    </ul>
  </div>
</div>