@import '../common/mixins.scss';
@import '../common/scss-variables.scss';

.almo-new-pass-popup {
  .almo-popup__cont {
    max-width: 420px;
  }
  @include respond-to-max($small) {
    display: none !important;
  }
}

.almo-new-pass {
  &__title {
    text-align: center;
    padding-bottom: 0.7em;
  }

  &__bot {
    padding-top: 26px;
    text-align: center;
  }

  .almo-btn {
    margin-top: 20px;
    width: 100%;
    max-width: initial;
  }
}