.accordion {
  .btn {
    cursor: pointer;
  }
  .item {
    .target {
      overflow: hidden;
      max-height: 0;
      transform: scale(0.96);
      opacity: 0;
    }
    &.show {
      .target {
        overflow: auto;
        transform: scale(1);
        opacity: 1;
        &.toggle-amination {
          overflow: hidden;
        }
      }
    }
  }
  .show .target.toggle-amination {
    transition: max-height 0.3s, opacity 0.3s 0.1s, transform 0.2s 0.1s;
  }
  .target.toggle-amination {
    transition: all 0.3s;
  }
}