<section class="almo-sec almo-main-activ-sec">
  <div class="almo-wrap almo-main-activ js-hidden">
    <h3 class="almo-head-h3 almo-text-red">Latest activity</h3>

    <div class="swiper-container almo-slider">
      <ul class="swiper-wrapper almo-news-cards__list">
        <li class="swiper-slide">
          <a href="#" class="almo-news-cards__item">
            <p class="almo-news-cards__item-tag almo-news-cards__item-tag--orange">Project news</p>
            <p class="almo-news-cards__item-img">
              <span data-lazy-src="images/temp/main/activ-1.jpg">
                <img src="#" alt="">
              </span>
            </p>
            <div class="almo-news-cards__item-text">
              <p><time>29 Aug, 2018 • 5 min read</time></p>
              <h3>The importance of Lucy’s law: what’s next for companion animals?</h3>
            </div>
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="almo-news-cards__item">
            <p class="almo-news-cards__item-tag almo-news-cards__item-tag--green">Project news</p>
            <p class="almo-news-cards__item-img">
              <span data-lazy-src="images/temp/main/activ-2.jpg">
                <img src="#" alt="">
              </span>
            </p>
            <div class="almo-news-cards__item-text">
              <p><time>28 Aug, 2018 • 3 min read</time></p>
              <h3>Farmers&Predators: the Iberian Lynx, from Andujar to Coto Doñana</h3>
            </div>
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="almo-news-cards__item">
            <p class="almo-news-cards__item-tag almo-news-cards__item-tag--green">Project news</p>
            <p class="almo-news-cards__item-img">
              <span data-lazy-src="images/temp/main/activ-3.jpg">
                <img src="#" alt="">
              </span>
            </p>
            <div class="almo-news-cards__item-text">
              <p><time>12 Aug, 2018 • 2 min read</time></p>
              <h3>Dog Blood Donors project. Stage report about how blood donation can save a life!</h3>
            </div>
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="almo-news-cards__item">
            <p class="almo-news-cards__item-tag almo-news-cards__item-tag--orange">reports</p>
            <p class="almo-news-cards__item-img">
              <span data-lazy-src="images/temp/main/activ-4.jpg">
                <img src="#" alt="">
              </span>
            </p>
            <div class="almo-news-cards__item-text">
              <p><time>12 Aug, 2018 • 2 min read</time></p>
              <h3>From the Alps to Sierra Nevada – the Mercantour</h3>
            </div>
          </a>
        </li>
      </ul>
      <div class="slider-pagination slider-pagination--main"></div>
    </div>

    <p class="almo-main-activ__btn">
      <a href="#" class="almo-btn almo-btn--cut">
        <span>View all activity</span>
      </a>
    </p>
  </div>
</section>