<section class="almo-main-expl-sec">
  <div class="almo-wrap almo-main-expl js-hidden">
    <ul class="almo-main-expl__list">
      <li class="almo-main-expl__list__item">
        <div class="almo-main-expl__block almo-main-expl__block--cat">
          <i class="bg-main-for-cat">
            <picture>
              <!-- <source srcset="images/main/explore/for-cat.png"> -->
              <!-- <img src="images/main/explore/for-cat.png" alt=""> -->
              <source srcset="images/main/explore/for-cat--hqs.png">
              <img src="images/main/explore/for-cat--hqs.png" alt="">
            </picture>
            
          </i>
          <i class="almo-icon bg-for-cat"></i>
          <h3 class="almo-head-h3 almo-text-red">
            For your cat
          </h3>
          <p class="almo-text-reg">
            100% natural ingredients, no chemical additives, no artificial flavours, no GMO.
          </p>
          <a href="#" class="almo-btn">
            <span>Explore cat food</span>
          </a>
        </div>
      </li>
      <li class="almo-main-expl__list__item">
        <div class="almo-main-expl__block almo-main-expl__block--dog">
          <i class="almo-icon bg-main-for-dog">
            <picture>
              <!-- <source srcset="images/main/explore/for-dog.png"> -->
              <!-- <img src="images/main/explore/for-dog.png" alt=""> -->
              <source srcset="images/main/explore/for-dog--hqs.png">
              <img src="images/main/explore/for-dog--hqs.png" alt="">
            </picture>
          </i>
          <i class="almo-icon bg-for-dog"></i>
          <h3 class="almo-head-h3 almo-text-red">
            For your dog
          </h3>
          <p class="almo-text-reg">
            First meat food for your dog! High quality ingredients for a tasty, natural and balanced meal. </p>
          <a href="#" class="almo-btn">
            <span>Explore dog food</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>