<section class="almo-sec almo-main-find-sec">
  <div class="almo-wrap almo-main-find">
    <div class="almo-main-find__l">
      <p class="almo-text-lead">
        1 year ago Pier Giovanni Capellino, the founder of Almo Nature, decided to become the pioneer of the change
        and opt out 100% of the profit to the projects.
      </p>
      <p class="almo-text-lead">
        Foundation Capellino is in full charge of the projects development and funding.
      </p>
      <a class="almo-link almo-link--arrow-l" href="#">Find out more<i></i></a>
    </div>
    <div class="almo-main-find__r">
      <i class="almo-icon bg-fondazione"></i>
    </div>
  </div>
</section>