<section class="almo-sec almo-giveback-sec">
  <div class="almo-wrap almo-giveback">
    <div class="almo-giveback__l">
      <div class="almo-giveback__l__flight">
        <div class="almo-giveback__l__stic">
          <h2 class="almo-head-h2 almo-text-red">
            We want to make every action work for the main goal
          </h2>
          <p class="almo-text-reg">
            All our steps are leading to creation of a new ecosystem, where people are highly motivated to live in
            balance with nature and have enough economical resources to do that. So the best outcome could become a
            sustainable result, not a one-time effort.
          </p>
        </div>
      </div>
    </div>
    <div class="almo-giveback__bot">
      <p class="almo-text-lead">
        This is what we aim to do with our projects.
      </p>
      <p class="almo-text-lead almo-text-undline almo-text-undline--red-l">
        As a community
      </p>
    </div>
    <div class="almo-giveback__r js-hidden">
      <ul class="almo-giveback__list">
        <li class="almo-giveback__list__item">
          <i class="almo-icon bg-exclam"></i>
          <p class="almo-text-reg">Find out the problem</p>
        </li>
        <li class="almo-giveback__list__item">
          <i class="almo-icon bg-quest"></i>
          <p class="almo-text-reg">Analyze the bottom reasons</p>
        </li>
        <li class="almo-giveback__list__item">
          <i class="almo-icon bg-lamp"></i>
          <p class="almo-text-reg">Weigh possible solutions</p>
        </li>
        <li class="almo-giveback__list__item">
          <i class="almo-icon bg-a-b"></i>
          <p class="almo-text-reg">Test the best ideas and evaluate</p>
        </li>
        <li class="almo-giveback__list__item">
          <i class="almo-icon bg-gear"></i>
          <p class="almo-text-reg">Give the tool and help to implement</p>
        </li>
        <li class="almo-giveback__list__item">
          <i class="almo-icon bg-two-arrows"></i>
          <p class="almo-text-reg">Make sure that the solution doesn’t need our control and move on to another project</p>
        </li>
      </ul>
    </div>
  </div>
</section>