<section class="almo-sec almo-main-info-sec">
  <div class="almo-wrap almo-main-info almo-main-info--2 js-hidden">
    <div class="almo-main-info__block">
      <div class="almo-main-info__block__text">
        <p class="almo-text-tag almo-text-red">NEW PRODUCT</p>
        <h2 class="almo-main-info__title almo-text-blue">Only fresh for your animal companion</h2>
        <p class="almo-text-lead">Choose fresh meat or fish as the first ingredient in your cat kibble!</p>
      </div>
    </div>
  </div>
</section>