<section class="almo-sec almo-main-info-sec">
  <div class="almo-wrap almo-main-info almo-main-info--1 js-hidden">
    <div class="almo-main-info__block">
      <div class="almo-main-info__block__text">
        <h2 class="almo-main-info__block__title">
          <span class="almo-ater">@@include("../../components/alternative.html")</span>
          - dry food with two very special ingredients
        </h2>
        <p class="almo-main-info__block__links">
          <a href="#" class="almo-btn">
            <span>For cats</span>
          </a>
          <a href="#" class="almo-btn">
            <span>For dogs</span>
          </a>
        </p>

      </div>
    </div>
  </div>
</section>