<div class="almo-popup almo-loc-popup js-opened" id="loc-popup">
  <div class="almo-box almo-popup__cont">
    <button class="almo-close-btn almo-popup__cont__close-btn"></button>
    <form class="almo-loc-popup__cont">
      <h5 class="almo-head-h5">Are you located in Italy right now?</h5>
      <p class="almo-text-reg">
        If your location is different, please, select the right country, so we could show you
        more relevant information
      </p>
      <div class="almo-loc-popup__cont__btns">
        <button type="button" class="almo-btn">
          <span>Yes, I am in Italy</span>
        </button>
        <button type="button" class="almo-btn almo-btn--cut">
          <span>No, I am not</span>
        </button>
      </div>
    </form>
  </div>
</div>