<section class="almo-sec almo-projects-sec">
  <div class="almo-wrap almo-projects js-hidden">
    <h2 class="almo-head-h2 almo-text-blue">Our projects</h2>
    <p class="almo-text-lead">A real help for those who could not ask for it</p>
    <div class="swiper-container almo-slider">
      <ul class="swiper-wrapper almo-projects__list">
        <li class="swiper-slide almo-projects__list__item">
          <a href="#" class="almo-projects__block">
            <span data-lazy-src="images/main/project/proj-1.jpg">
              <img src="#" alt="">
            </span>
            <h3 class="almo-head-h3 almo-text-white">A Companion animal is for life</h3>
            <p class="almo-text-reg almo-text-white">
              Let’s stop the abandonment of cats and dogs and change the overall
              attitude towards them.
            </p>
          </a>
        </li>
        <li class="swiper-slide almo-projects__list__item">
          <a href="#" class="almo-projects__block">
            <span data-lazy-src="images/main/project/proj-2.jpg">
              <img src="#" alt="">
            </span>
            <h3 class="almo-head-h3 almo-text-white">Dog Blood Donors project</h3>
            <p class="almo-text-reg almo-text-white">
              The DBD creates unique database of voluntary registered dogs accessible to veterenary surgeons.
            </p>
          </a>
        </li>
        <li class="swiper-slide almo-projects__list__item">
          <a href="#" class="almo-projects__block">
            <span data-lazy-src="images/main/project/proj-3.jpg">
              <img src="#" alt="">
            </span>
            <h3 class="almo-head-h3 almo-text-white">Farmers & Predators project</h3>
            <p class="almo-text-reg almo-text-white">
              We need to help farmers to protect their livestock peacefully in order to save the predators.
            </p>
          </a>
        </li>
      </ul>
      <div class="slider-pagination slider-pagination--main"></div>
    </div>
  </div>
</section>