<section class="almo-sec almo-main-purp-foc-sec">
  <div class="almo-main-purp-foc-sec__bg"></div>
  <div class="almo-wrap almo-main-purp-foc js-hidden">
    <h2 class="almo-head-h2 almo-text-white">
      A new company model — <strong class="almo-text-undline">100% for nature,</strong> forever!
    </h2>
    <div class="almo-main-purp-foc__l">
      <ul class="almo-main-purp-foc__steps">
        <li class="almo-main-purp-foc__steps__item">
          <span class="almo-num almo-text-orange">1</span>
          <span class="almo-text-lead almo-text-white">
            You buy high quality food for your companion animal from a
            social- economical company
          </span>
        </li>
        <li class="almo-main-purp-foc__steps__item">
          <span class="almo-num almo-text-orange">2</span>
          <span class="almo-text-lead almo-text-white">
            <span class="almo-text-orange">100% of profit</span> goes to projects supporting nature
          </span>
        </li>
        <li class="almo-main-purp-foc__steps__item">
          <span class="almo-num almo-text-orange">3</span>
          <span class="almo-text-lead almo-text-white">
            Thanks to full transparency you see real results
          </span>
        </li>
      </ul>
    </div>
    <div class="almo-main-purp-foc__r">
      <h3 class="almo-head-h3 almo-text-white">We need a new pact with animals and nature</h3>

      <div class="almo-main-purp-foc__pact">
        <div class="almo-main-purp-foc__pact__block">
          <i class="almo-icon bg-resp"></i>
          <p class="almo-head-h4 almo-text-white">Respect</p>
        </div>
        <div class="almo-main-purp-foc__pact__block">
          <i class="almo-icon bg-love-orange"></i>
          <p class="almo-head-h4 almo-text-white">Love</p>
        </div>
        <div class="almo-main-purp-foc__pact__block">
          <i class="almo-icon bg-sup-bal"></i>
          <p class="almo-head-h4 almo-text-white">Support the balance</p>
        </div>
      </div>
    </div>
  </div>
</section>