<section class="almo-sec almo-main-qual-food-sec">
  <div class="almo-main-qual-food-sec__bg"></div>
  <div class="almo-wrap almo-main-qual-food">
    <div class="almo-main-qual-food__l">
      <h2 class="almo-head-h2 almo-text-white">Feed your companion animal with high quality food.</h2>
    </div>
    <div class="almo-main-qual-food__r">
      <p class="almo-text-reg">
        Almo Nature was the first company to introduce animal food with ingredients originally fit for human
        consumption to the market.
      </p>

      <p class="almo-head-h4">
        Today using only natural ingredients, Almo Nature offers unique product groups (<strong class="almo-text-green">HFC</strong>,
        <strong class="almo-text-green">BioOrganic</strong>, <strong class="almo-text-green">Holistic</strong> and
        <strong class="almo-text-green">Daily</strong>) to its customers, with the HFC line remaining its premium choice.
      </p>

      <ul class="almo-main-qual-food__list">
        <li class="almo-main-qual-food__list__item">

          <!-- <i class="almo-icon icon-hqs"></i> -->
          <i class="almo-icon icon-hfc"></i>

          <p class="almo-text-reg">
            HFC recipes guarantee the best and healthiest quality available today. Almo Nature
            HFC is unique — meat or
            fish ingridients are originally fit for human conumption and now used for our petfood. An absolute
            innovation.
          </p>
        </li>
        <li class="almo-main-qual-food__list__item">
          <i class="almo-icon bg-profit"></i>
          <p class="almo-text-reg">
            When you buy Almo Nature, you become a part of the movement that supports nature.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>