<section class="almo-sec almo-main-subhero-sec">
  <div class="almo-wrap almo-main-subhero js-hidden">
    <div class="almo-editable">
      <h2>Almo Nature is a unique combination of <a href="#">three things</a></h2>
      <ul>
        <li>
          <h3>Quality pet food</h3>
          <p>
            <a href="#">We produce natural</a> <im>and innovative</im> pet food for cats and dogs <u>using high</u>  quality
            ingredients
          </p>
        </li>
        <li>
          <h3>Purpose focus</h3>
          <p>
            <strong>100% of Almo Nature profit goes to projects helping nature.</strong> We are the first and only
            economic-social model:
            a foundation that owns a company
          </p>
        </li>
        <li>
          <h3>Our giveback</h3>
          <p>
            We protect dogs, cats and biodiversity through projects with real, measurable results
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>