<div class="almo-popup almo-subscr" id="subscr-pupop">
  <div class="almo-box almo-popup__cont">
    <button class="almo-close-btn almo-popup__cont__close-btn  js-close-popup-btn"></button>

    <form class="almo-subscr__email">
      <h3 class="almo-head-h3 almo-subscr--use-email">Join our pro-nature info space!</h3>
      <h3 class="almo-head-h3 almo-subscr--use-soc">Almost there! Lets confirm the subscription</h3>
      <p class="almo-text-reg">
        We'll send you important news about the movement and the most exciting
        stories from our projects, once or twice a week.
      </p>

      <div class="almo-input-block almo-subscr__email__input__block almo-subscr--use-email">
        <input class="almo-input-text almo-subscr__email__input" type="text" placeholder=" ">
        <label>
          <span class="almo-small">Your email address</span>
        </label>
        <p class="almo-text-small almo-input-block__mes">
          Something is wrong with the email. Please, correct.
        </p>
      </div>

      <div class="almo-subscr__email__email-set almo-subscr--use-soc">
        <p class="almo-text-reg">You can change your <a href="#" class="almo-link almo-link--in-text">email settings</a>
          at any time.</p>
      </div>

      <div class="almo-subscr__email__checks almo-subscr__email--hidden-block">
        <p class="almo-text-small">
          We invite you to consult the
          <a href="" class="almo-link almo-link--in-text">privacy policy</a> and to give
          your consent for:
        </p>

        <ul class="almo-text-small">
          <li>
            <div class="almo-checkbox-block almo-subscr__email__check-promo__block">
              <label class="almo-checkbox">
                <input type="checkbox" class="almo-subscr__email__check-promo">
                <span>
                  <i class="almo-icon bg-check"></i>
                </span>
                <p class="almo-text-small almo-text-black">
                  sending promotional, advertising and direct marketing
                  communications, information on activities and projects.
                </p>
              </label>
              <p class="almo-text-small almo-text-red almo-checkbox-block__mes">
                Please, confirm that you agree with the terms by checking both boxes before subscribing.
              </p>
            </div>
          </li>

          <li>
            <div class="almo-checkbox-block almo-subscr__email__check-personal__block">
              <label class="almo-checkbox">
                <input type="checkbox" class="almo-subscr__email__check-personal">
                <span>
                  <i class="almo-icon bg-check"></i>
                </span>
                <p class="almo-text-small almo-text-black">
                  the transfer of your personal data to the Capellino Foundation for
                  sending promotional and institutional communications
                </p>
              </label>
              <p class="almo-text-small almo-text-red almo-checkbox-block__mes">
                Please, confirm that you agree with the terms by checking both boxes before subscribing.
              </p>
            </div>
          </li>
        </ul>
      </div>

      <button class="almo-btn" type="submit">
        <span>I want these news</span>
      </button>

      <p class="almo-text-small  almo-subscr__email__undbtn almo-subscr__email--hidden-block">
        Your personal data will be processed in compliance with the applicable
        law regarding the protection of personal data.
      </p>
    </form>

    <div class="almo-subscr__soc">
      <h3 class="almo-head-h3">Choose the way to sign in</h3>
      <button type="button" class="almo-btn almo-btn--soc almo-btn--soc--facebook">
        <i class="almo-icon bg-facebook-2"></i>
        <span>Sign in with Facebook</span>
      </button>
      <button type="button" class="almo-btn almo-btn--soc almo-btn--soc--instag">
        <i class="almo-icon bg-instagram-2"></i>
        <span>Connect your Instagram</span>
        </a>
        <button type="button" class="almo-btn almo-btn--soc almo-btn--soc--google">
          <i class="almo-icon bg-google-2"></i>
          <span>Sign in with Google</span>
        </button>
    </div>

    <div class="almo-subscr__done">
      <p>You are alredy subscribed</p>
    </div>

  </div>
</div>