<div class="almo-popup almo-subscr" id="subscr-pupop">
  <div class="almo-box almo-popup__cont">
    <button class="almo-close-btn almo-popup__cont__close-btn  js-close-popup-btn"></button>

    <form class="almo-subscr__email">
      <h3 class="almo-head-h3 almo-subscr--use-email">Join our pro-nature info space!</h3>
      <h3 class="almo-head-h3 almo-subscr--use-soc">Almost there! Lets confirm the subscription</h3>
      <p class="almo-text-reg">
        We'll send you important news about the movement and the most exciting
        stories from our projects, once or twice a week.
      </p>

      <div class="almo-input-block almo-subscr__email__input__block almo-subscr--use-email">
        <input class="almo-input-text almo-subscr__email__input" type="text" placeholder=" ">
        <label>
          <span class="almo-head-h5">Your email address</span>
        </label>
        <p class="almo-text-small almo-input-block__mes">
          Something is wrong with the email. Please, correct.
        </p>
      </div>

      <div class="almo-subscr__email__email-set almo-subscr--use-soc">
        <p class="almo-text-reg">You can change your <a href="#" class="almo-link almo-link--in-text">email settings</a>
          at any time.</p>
      </div>

      <div class="almo-subscr__email__checks">
        <p class="almo-text-small">
          We invite you to consult the
          <a href="" class="almo-link almo-link--in-text">privacy policy</a> and to give
          your consent for:
        </p>

        <ul class="almo-text-small">
          <li>
            <div class="almo-checkbox-block almo-subscr__email__check-promo__block">
              <label class="almo-checkbox">
                <input type="checkbox" class="almo-subscr__email__check-promo">
                <span>
                  <i class="almo-icon bg-check"></i>
                </span>
                <p class="almo-text-small almo-text-black">
                  sending promotional, advertising and direct marketing
                  communications, information on activities and projects.
                </p>
              </label>
              <p class="almo-text-small almo-text-red almo-checkbox-block__mes">
                Please, confirm that you agree with the terms by checking both boxes before subscribing.
              </p>
            </div>
          </li>

          <li>
            <div class="almo-checkbox-block almo-subscr__email__check-personal__block">
              <label class="almo-checkbox">
                <input type="checkbox" class="almo-subscr__email__check-personal">
                <span>
                  <i class="almo-icon bg-check"></i>
                </span>
                <p class="almo-text-small almo-text-black">
                  the transfer of your personal data to the Capellino Foundation for
                  sending promotional and institutional communications
                </p>
              </label>
              <p class="almo-text-small almo-text-red almo-checkbox-block__mes">
                Please, confirm that you agree with the terms by checking both boxes before subscribing.
              </p>
            </div>
          </li>
        </ul>
      </div>

      <button class="almo-btn" type="submit">
        <span>I want these news</span>
      </button>

      <p class="almo-text-small almo-subscr__email__undbtn">
        Your personal data will be processed in compliance with the applicable
        law regarding the protection of personal data.
      </p>
    </form>

    <div class="almo-subscr__soc">
      <h3 class="almo-head-h3">Choose the way to sign in</h3>
      <button type="button" class="almo-btn almo-btn--soc almo-btn--soc--facebook">
        <i class="almo-icon bg-facebook-2"></i>
        <span>Sign in with Facebook</span>
      </button>
      <button type="button" class="almo-btn almo-btn--soc almo-btn--soc--instag">
        <i class="almo-icon bg-instagram-2"></i>
        <span>Connect your Instagram</span>
        </a>
        <button type="button" class="almo-btn almo-btn--soc almo-btn--soc--google">
          <i class="almo-icon bg-google-2"></i>
          <span>Sign in with Google</span>
        </button>
    </div>

    <form class="almo-subscr__more">
      <div class="almo-subscr__mob-head">
        <i class="almo-icon bg-almo"></i>
        <button type="button" class="almo-close-btn almo-subscr__mob-head__close">
        </button>
      </div>
      <div class="almo-subscr__more__inner">
        <p class="almo-text-lead">Welcome to the community!</p>
        <p class="almo-text-reg">
          Our first email is already on its way. Hope you'll like it.
        </p>

        <p class="almo-text-lead">One more thing</p>
        <p class="almo-text-reg">
          We'd be happy to know a bit more about you — to show you more relevant
          information. Please, answer a few simple questions:
        </p>

        <div class="almo-subscr__more__steps">
          <ul class="almo-subscr__more__steps__list">
            <li class="almo-subscr__more__steps__list__item">
              <div class="almo-subscr__more__steps__step">
                <input type="radio" name="subscr-more" checked data-target="subscr-more-anim" />
                <span></span>
              </div>
            </li>
            <li class="almo-subscr__more__steps__list__item">
              <div class="almo-subscr__more__steps__step">
                <input type="radio" name="subscr-more" data-target="subscr-more-years" />
                <span></span>
              </div>
            </li>
            <li class="almo-subscr__more__steps__list__item">
              <div class="almo-subscr__more__steps__step">
                <input type="radio" name="subscr-more" data-target="subscr-more-done" />
                <span></span>
              </div>
            </li>
          </ul>
        </div>

        <div class="almo-subscr__more__anim js-showed" id="subscr-more-anim">
          <div class="almo-subscr__more__block">
            <h3 class="almo-head-h3">What animal companion(s) do you have?</h3>
            <ul class="almo-subscr__more__anim__list">
              <li class="almo-subscr__more__anim__list__item">
                <label class="almo-subscr__more__anim__cart">
                  <input type="checkbox" value="cat" /> <span></span>
                  <p class="almo-subscr__more__anim__cart__icon">
                    <i class="almo-icon bg-cat"></i>
                  </p>
                  <p class="almo-text-reg almo-subscr__more__anim__cart__text">
                    Cat
                  </p>
                </label>
              </li>

              <li class="almo-subscr__more__anim__list__item">
                <label class="almo-subscr__more__anim__cart">
                  <input type="checkbox" value="dog" /> <span></span>
                  <p class="almo-subscr__more__anim__cart__icon">
                    <i class="almo-icon bg-dog"></i>
                  </p>
                  <p class="almo-text-reg almo-subscr__more__anim__cart__text">
                    Dog
                  </p>
                </label>
              </li>

              <li class="almo-subscr__more__anim__list__item">
                <label class="almo-subscr__more__anim__cart">
                  <input type="checkbox" value="another" /> <span></span>
                  <p class="almo-subscr__more__anim__cart__icon">
                    <i class="almo-icon bg-main-fish"></i>
                  </p>
                  <p class="almo-text-reg almo-subscr__more__anim__cart__text">
                    Another cute animal
                  </p>
                </label>
              </li>

              <li class="almo-subscr__more__anim__list__item">
                <label class="almo-subscr__more__anim__cart">
                  <input type="checkbox" value="no" /> <span></span>
                  <p class="almo-subscr__more__anim__cart__icon">
                    <i class="almo-icon bg-main-care"></i>
                  </p>
                  <p class="almo-text-reg almo-subscr__more__anim__cart__text">
                    I don't have animals, I just care
                  </p>
                </label>
              </li>
            </ul>
          </div>

          <button type="button" class="almo-btn" disabled>
            <span>Next</span>
          </button>
        </div>

        <div class="almo-subscr__more__years" id="subscr-more-years">
          <div class="almo-subscr__more__block">
            <h3 class="almo-head-h3">How old are your animal companions?</h3>
            <ul class="almo-subscr__more__years__list">
              <template>
                <li data-anim="@@anim" data-index="@@index">
                  <label>
                    <input class="almo-input-text" type="number" placeholder=" " data-type="years" />
                    <span class="almo-text-reg">years</span>
                  </label>

                  <label>
                    <input class="almo-input-text" type="number" placeholder=" " data-type="month" />
                    <span class="almo-text-reg">month(s)</span>
                  </label>
                </li>
              </template>
              <li class="almo-subscr__more__years__list__item almo-subscr__more__years__list__item--dog">
                <div class="almo-subscr__more__years__list__item__l">
                  <span class="almo-head-h5">Dog</span>
                  <ul class="almo-subscr__more__years__list__item__inputs">
                    <li data-anim="dog" data-index="1">
                      <label>
                        <input class="almo-input-text" type="number" placeholder=" " data-type="years" />
                        <span class="almo-text-reg">years</span>
                      </label>

                      <label>
                        <input class="almo-input-text" type="number" placeholder=" " data-type="month" />
                        <span class="almo-text-reg">month(s)</span>
                      </label>
                    </li>
                  </ul>
                </div>
                <button class="almo-link almo-link--plus" type="button" data-anim="dog">
                  <i></i> one more dog
                </button>
              </li>
              <li class="almo-subscr__more__years__list__item almo-subscr__more__years__list__item--cat">
                <div class="almo-subscr__more__years__list__item__l">
                  <span class="almo-head-h5">Cat</span>
                  <ul class="almo-subscr__more__years__list__item__inputs">
                    <li data-anim="cat" data-index="1">
                      <label>
                        <input class="almo-input-text" type="number" placeholder=" " data-type="years" />
                        <span class="almo-text-reg">years</span>
                      </label>

                      <label>
                        <input class="almo-input-text" type="number" placeholder=" " data-type="month" />
                        <span class="almo-text-reg">month(s)</span>
                      </label>
                    </li>
                  </ul>
                </div>

                <button class="almo-link almo-link--plus" type="button" data-anim="cat">
                  <i></i> one more cat
                </button>
              </li>
            </ul>
          </div>

          <button type="button" class="almo-btn" disabled>
            <span>Next</span>
          </button>
        </div>

        <div class="almo-subscr__more__country" id="subscr-more-country">
          <div class="almo-subscr__more__block">
            <h3 class="almo-head-h3">What area do you live in?</h3>
            <input type="text" class="almo-input-text" placeholder="Just put your zip code here" />
          </div>

          <button class="almo-btn" type="submit" disabled>
            <span>That's it</span>
          </button>
        </div>
      </div>

    </form>

    <div class="almo-subscr__done">
      <div class="almo-subscr__mob-head">
        <i class="almo-icon bg-almo"></i>
        <button type="button" class="almo-close-btn almo-subscr__mob-head__close">
        </button>
      </div>
      <div class="almo-subscr__done__inner">
        <div class="almo-subscr__done__inner__head almo-subscr__done--cat-dog">
          <i class="almo-icon bg-cat-dog"></i>
          <p class="almo-text-lead">
            <span>Ooh, you have a cat and a dog!</span>
            <span>God, we like you already :)</span>
          </p>
        </div>

        <div class="almo-subscr__done__inner__head almo-subscr__done--cat">
          <i class="almo-icon bg-cat"></i>
          <p class="almo-text-lead">
            <span>Thanks for joining!</span>
            <span>And say hi to your cat from us :)</span>
          </p>
        </div>

        <div class="almo-subscr__done__inner__head almo-subscr__done--dog">
          <i class="almo-icon bg-dog"></i>
          <p class="almo-text-lead">
            <span>Thanks for joining!</span>
            <span>And say hi to your dog from us :)</span>
          </p>
        </div>

        <div class="almo-subscr__done__inner__head almo-subscr__done--other">
          <i class="almo-icon bg-paw"></i>
          <p class="almo-text-lead">
            <span>Hey, it's so cool to have you here with us :)</span>
            <span>Thanks for joining!</span>
          </p>
        </div>

        <p class="almo-text-reg">
          Please, if you have any kind of feedback about Almo Nature products for
          cats or dogs (or both!), or about the projects of Capellino Foundation,
          <a href="#" class="almo-link">share it with us</a> — we are always
          excited about talking to people who care. Hope to see you here again
          soon!
        </p>
      </div>

    </div>
  </div>
</div>